<%- include('templates/layout') %>

<style>
  .card-img-top {
  height: 300px;
  object-fit: cover;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomed-img {
  max-width: 100%;
  max-height: 100%;
}

.overlay img {
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
}

</style>
<title><%= title %></title>
<div class="container py-3">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">¡Bienvenido/a a nuestro sitio!</h1>
        <p class="fs-5 text-body-secondary">El lugar ideal para explorar y disfrutar de las mejores consolas de videojuegos! 
            Aquí podrás encontrar una amplia selección de consolas, tanto nuevas como antiguas.
            Sumérgete en nuestra colección y descubre las consolas más populares de todas las épocas.
            Ya sea que busques una consola retro para revivir la nostalgia o una consola moderna para jugar los últimos lanzamientos, ¡aquí encontrarás todo lo que necesitas!
            ¡Prepárate para vivir una experiencia única en nuestro sitio de consolas de videojuegos!
        </p>
      </div>
    </header>
  
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h2 class="display-6 fw-normal text-body-emphasis">Lo último en consolas</h2>
    </div>


    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Playstation 5</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$50000<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <img src="/images/play5.jpg" alt="Playstation 5" class="card-img-top zoom">
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Xbox Series X</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$40000<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <img src="/images/xbox series x.webp" alt="Xbox Series X" class="card-img-top zoom">
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Consola portatil Asus ROG Ally</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$45000<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <img src="/images/rog.png" alt="Asus ROG Ally" class="card-img-top zoom">
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Ver mas</button>
            </div>
          </div>
        </div>
      </div>
  
<!-- Agrega la biblioteca medium-zoom -->
<script src="https://cdn.jsdelivr.net/npm/medium-zoom"></script>

<script>
// Inicializa medium-zoom en las imágenes con la clase "zoom"
mediumZoom('.zoom');

  // Obtener la imagen
const img = document.getElementById("play5");

// Agregar un evento de clic a la imagen
img.addEventListener("click", function() {
  // Crear un elemento DIV para el fondo oscuro
  const overlay = document.createElement("div");
  overlay.classList.add("overlay");

  // Crear un elemento IMG para la imagen ampliada
  const zoomedImg = document.createElement("img");
  zoomedImg.src = img.src;
  zoomedImg.alt = img.alt;
  zoomedImg.classList.add("zoomed-img");

  // Agregar los elementos al DOM
  overlay.appendChild(zoomedImg);
  document.body.appendChild(overlay);

  // Agregar un evento de clic al fondo oscuro para cerrar la imagen ampliada
  overlay.addEventListener("click", function() {
    overlay.remove();
  });
});
</script>